<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${innergateD.y_name}">제품명</title>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" th:href="@{/css/KA_product.css}">
	<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
	<div class="main-content">
		<aside class="sidebar">
			<h2>중문</h2>
			<span class="custom-line"></span>
			<ul>
				<li><a href="/product/innergate/jungmun3">3연동 중문</a></li>
				<li><a href="/product/innergate/double_sided">양개중문</a></li>
				<li><a href="/product/innergate/aluminum">슬림 알루미늄 중문</a></li>
				<li><a href="/product/innergate/folding">폴딩도어</a></li>
				<li><a href="/product/innergate/partition">파티션</a></li>
			</ul>
		</aside>

		<main>
		<!-- IA-01 제품 상세 정보 -->
		<section class="product-details">
			<img th:src="@{'/product/innergate/downloadImg/'+${innergateD.y_no}}" alt="제품 이미지">
			<div class="text-container">
				<p class="innergate_IApro">
					<span th:text="${innergateD.y_no}"></span>
				</p>

				<p class="small-text" th:text="${innergateD.y_name}"></p>
				<br>
				<p class="innergate_IApro">
					<span th:text="${innergateD.style}"></span>
				</p>
				<span class="custom-line"></span>
				<!--custom-line 밑 해당 내용만 스크롤할 수 있게 설정  -->
				<div class="scrollable-content">
					<p class="innergate_IApro">
						<span th:text="${innergateD.content}"></span>
					</p>
				</div>
				<p class="innergate_pro"></p>
				<!-- 상담 신청 버튼 -->
				<p class="innergate_IApro">
					<a href="/inquire" class="inquire-button">상담신청</a>
				</p>
			</div>
		</section>
	</main>
	</div>
</body>
</html>
