<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/kitchen.css">
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

	<div class="main-content">
		<aside class="sidebar">
			<h2>도어</h2>
			<span class="custom-line"></span>
			<ul>
				<li><a href="/product/door/doorabs">ABS 도어</a></li>
				<li><a href="/product/door/craftinesse">기능성 도어</a></li>
				<li><a href="/product/door/hardware">도어 하드웨어</a></li>
				<li><a href="/product/door/system">도어 시스템</a></li>
			</ul>
		</aside>

		<main class="content-area">
			<section>
				<h2>도어 시스템</h2>
				<!-- Thymeleaf loop to iterate over the door items -->
				<div class="products-container">
					<div th:each="door : ${doors}" class="door-item">
						<div class="innergate-field">
							<!-- 이미지 클릭 시 해당 제품의 상세 페이지로 이동 -->
							<a th:href="@{'/product/door/system/' + ${door.y_no}}"> 
								<img th:src="@{'downloadImg/'+${door.y_no}}" style="font-size: 12px;">
							</a>
						</div>
						<div class="innergate-field">
							<span th:text="${door.y_no}">제품코드</span>&nbsp;&nbsp;<br> <span
								th:text="${door.y_name}" style="font-size: 12px;"></span>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>

