<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<form name="findIdForm" action="/findId" method="post">
		<br>
		<h1>아이디 찾기</h1>
		<br>
		<div id="msg">
		</div>
		<div th:if="${msg == 'error'}" id="err_id_msg">
		<p>※ 해당하는 사용자 정보가 없습니다.</p>
		</div>
		<div th:if="${msg == 'ok'}" id="ok_id_msg">
		<p>※ 이메일을 전송하였습니다.</p>
		</div>
        <table>
       	 	<tr>
	       		<td>
	            	<label for="username">실명</label>
	       		</td>
	       		<td>
	            	<input type="text" id="username" name="username">
	            </td>
         	</tr>
	        <tr>
	        	<td>
	           		<label for="birthdate">생년월일</label>
	            </td>
	            <td>
	           		<input type="date" id="birthdate" name="birthdate">
	            </td>
            </tr>
         	<tr>
         	<tr>
             	<td>
           			<label for="telnumber">전화번호</label>
             	</td>
             	<td>
           			<input type="text" id="telnumber" name="telnumber">
             	</td>
            </tr>
        </table>
        <br>
        <div class="form-buttons">
	        <input type="submit" value="아이디 찾기">
	        <input type="button" value="창닫기" onclick="window.close()">
	    </div>
	    <br>
	</form>
</body>
</html>