<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/content/content.css">
<title>PF 단열재 소개</title>
</head>
<body>
	<div th:replace="fragments/nav :: nav"></div>
	<div layout:fragment="content" id="contents">
		<h1>PF 단열재</h1><br><br>
		<p>
			<strong>Auray Studio</strong>
			는 최고의 인테리어 품질을 제공하기 위해 PF 단열재를 사용합니다. 
			<br>
			PF 단열재는 폴리우레탄(PU) 폼과는 다른 화학적 구조를 가진 폼 단열재로, 여러 가지 우수한 성능을 가지고 있습니다.
		</p>
		
        <br>
		<div class="advantages">
		    <!-- <div class="advantage-item"> -->
		    <div class="additional-images-item">
		        <img src="../img/PF단열재1.png">
		        <img src="../img/PF단열재2.png">
	        </div>
        </div>
        <br>
        
		<br><br>
		
		<h2>PF 단열재의 주요 장점</h2><br>
		
		<div class="advantages">
		    <div class="advantages">
		    
			    <div class="advantage-item">
			        <strong>
			        	화재안전성 <br>
				        <img src="../img/화재안전성.png"><br>
				        <span>준불연 성능 & 내화 15분 적합 자재</span><br>
			        </strong>
			    </div>
			    
			    <div class="advantage-item">
			        <strong>
			        	고성능 단열 <br>
			        	<img src="../img/단열성.png"><br>
			       		<span>열전도율 0.020W/mK</span><br>
			        </strong>
			    </div>
			    
			    <div class="advantage-item">
			        <strong>
			     	   	친환경성 <br>
						<img src="../img/친환경성.png"><br>
			       		<span>녹색 건축 인증 5가지 항목 반영 가능</span><br>			        
			        </strong>
			    </div>
			    
			    <div class="advantage-item">
			        <strong>
				        경제성 <br>
				        <img src="../img/친환경성.png"><br>
				        <span>건축물 공간 활용 증대</span><br>
			        </strong>
			    </div>
			</div>	
		</div>

		<br>
		
		<h2>단열재의 장점</h2><br>
		<div class="additional-images">
			<img src="../img/단열재.png">
			<img src="../img/PF장점1.png">
			<img src="../img/PF장점2.png">
			<img src="../img/PF장점3.png">
			<img src="../img/PF장점4.png">
		</div>
		
		<br>
		<br>
		
		<h2>PF 단열재의 적용 분야</h2><br>
		<p>
			PF 단열재는 주거용 및 상업용 건축물의 벽체, 지붕, 바닥 등에 널리 사용됩니다.<br>
			특히, 에너지 절약이 중요한 패시브 하우스 및 친환경 건축물에서 그 효용성이 극대화됩니다.
		</p>
		
		<br><br>
		
		<h2>Auray Studio와 PF 단열재</h2><br>
		<p>
			Auray Studio는 고객의 삶의 질을 향상시키기 위해 PF 단열재를 채택하여, 실내 공간의 쾌적함과 에너지 효율을 극대화합니다.<br>
			저희는 고객의 만족을 최우선으로 하여, 높은 품질의 자재와 세심한 디자인으로 최상의 결과물을 제공합니다.
		</p>
		
	</div>
	<br><br><br>
</body>
</html>
 