<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/kitchen.css">
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
	
	<div class="main-content">
		<aside class="sidebar">
			<h2>벽지</h2>
			<span class="custom-line"></span>
			<ul>
				<li><a href="/product/wallpaper/silk">실크</a></li>
				<li><a href="/product/wallpaper/synthetic">합지</a></li>
			</ul>
		</aside>
		
		<main class="content-area">
			<section>
				<h2>실크</h2>
				<div class="products-container">
					<div th:each="wallpaper : ${wallpapers}" class="door-item">
						<div class="innergate-field">
							<a th:href="@{'/product/wallpaper/silk/' + ${wallpaper.y_no}}">
								<img th:src="@{'downloadImg/'+${wallpaper.y_no}}" style="font-size: 12px;">
							</a>
						</div>
						<div class="innergate-field">
							<span th:text="${wallpaper.y_no}">제품코드</span>&nbsp;&nbsp;<br> 
							<span th:text="${wallpaper.y_name}" style="font-size: 12px;"></span>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>
