<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Auray Studio</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/kitchen.css">
<script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

	<div class="main-content">
		<aside class="sidebar">
			<h2>붙박이장</h2>
			<span class="custom-line"></span>
			<ul>
				<li><a href="/product/built_in/casement">여닫이</a></li>
				<li><a href="/product/built_in/dressing">드레스룸</a></li>
				<li><a href="/product/built_in/entrancehall">현관장</a></li>
				<li><a href="/product/built_in/cabinet">수납장</a></li>
				<li><a href="/product/built_in/sliding">슬라이딩</a></li>
			</ul>
		</aside>

		<main class="content-area">
			<!-- 게시물 추가 버튼 -->
			<!-- 			<div class="add-post-container">
				<a href="/product/post/insert" class="add-post-button">게시물 추가</a>
			</div> -->
			<section>
				<h2>여닫이</h2>
				<!-- Thymeleaf loop to iterate over the door items -->
				<div class="products-container">
					<div th:each="built_in : ${built_ins}" class="door-item">
						<div class="innergate-field">
							<!-- 이미지 클릭 시 해당 제품의 상세 페이지로 이동 -->
							<a th:href="@{'/product/built_in/casement/' + ${built_in.y_no}}"> 
								<img th:src="@{'downloadImg/'+${built_in.y_no}}" style="font-size: 12px;">
							</a>
						</div>
						<div class="innergate-field">
							<span th:text="${built_in.y_no}">제품코드</span>&nbsp;&nbsp;<br> <span
								th:text="${built_in.y_name}" style="font-size: 12px;"></span>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>

